---
import type { FileList } from "../../pages/folders/[folder]/filesTypes.astro";
import { DeleteNote } from "../../svg/DeleteFile.svg";
import { EditNote } from "../../svg/EditNote.svg";
import IconFile from "../atoms/IconFile.astro";

interface Props {
  files: FileList[];
}
const { files } = Astro.props;
---

{

  files.map((item) => {
    return (
      <li data-id={item.id} class="flex z-0 shrink justify-between gap-3 w-full rounded-lg border border-[#2e2e2e] shadow-sm py-2 px-4 bg-[#121212] hover:bg-[#242424] hover:border-[#505050] active:bg-[#2e2e2e] transition-colors">
        <div class="flex gap-4 items-center">
          <IconFile/>
          <a href={`/docs/${item.id}/files`} >
            <div class="truncate w-full">
              {item.name}
            </div>
          </a>
        </div>


        <div class="flex items-center gap-2">
          <div>
            <EditNote data-id={item.id} className="cursor-pointer edit-note"/>
          </div>

          <div>
            <DeleteNote data-id={item.id} className="fill-red-400 cursor-pointer delete-note" />
          </div>
        </div>
      </li>
    );
  })
}
